article{
    padding-top:1rem;
}
h1{
    margin-top:1rem;
}

h1, h2, h3{
    color:rgb(8, 112, 77);
}
a:link,
a:visited {
    color:rgb(8, 112, 77);
}
.profile-pic {
    display: block;
}

.profile-pic img {
    max-width: 160px;
    border-radius: 10px;
}
